/*
    a:link, a:visited, a:hover, a:active
*/
a{
    padding: 5px 10px;
    text-decoration: none;
}

li{
    display: inline;
    padding: 10px;
}
/*Se o link ainda não foi visitado ele assume a cor ou a ação*/
a:link{
    color:#b9c941
}   

/*Se o link foi visitado ele assume a cor ou a ação*/
a:visited{
    color:#c0c0c0;
}

/*Quando passa o cursor em cima ele muda a cor ou faz alguma ação*/
a:hover{
    color: #fff;
    background: #6d790f;
}

/*Link fica ativo quando é clicado*/
a:active{
    color:#e4f391;
}

/*No exemplo o primeiro item da lista ficará em negrito e não toda a lista*/
.item:first-child{
    font-weight: bold;
}       

/*No exemplo o ultimo item da lista ficará em negrito e vermelho e não toda a lista*/
.item:last-child{
    color:red;
    font-weight: bold;
}        

/*No exemplo seleciona qualquer opção da lista e é preciso definir entre parenteses qual opção
deseja que altere. Existe também a opção de colocar o valor "n" ao lado do número por exemplo
se inserido o valor "2n" significa que vou selectionar todos os elementos pares*/
.item:nth-child(3){
    color:blue;
    font-weight: bold;
}   

/*No exemplo utilizando o próprio css ele modifica a primeira letra do texto para o estilo desejado*/
h1:first-letter{
    color: greenyellow;
    font-style: italic;
}

/* são utilizados para inserir um determinado conteúdo 
antes ou depois de um determinado elemento, independente do elemento selecionado.*/
h2:before{
    content: "[ ";
}

h2:after{
    content: " ]";
}