/*
Exemplos de estilos de texto 
*/
div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.texto1{
    font-weight: bold;
}

.texto2{
    font-style: italic;
}

.texto3{
    text-decoration: line-through;
}


